body {
  margin: 0;
  background-color: #121212;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #00e676;
}

#chart {
  width: 100%;
  max-width: 800px;
  height: 400px;
}

.price-label {
  margin-top: 12px;
  font-size: 1.2rem;
  color: #00ff95;
}
