body {
  margin: 0;
  background-color: #121212;
  font-family: 'Segoe UI', sans-serif;
  color: #eee;
}

.header {
  background: linear-gradient(to right, #00bfa5, #1de9b6);
  color: #000;
  text-align: center;
  padding: 14px;
  font-size: 1.2rem;
  font-weight: bold;
}

.chart-container {
  padding: 10px;
  height: 80vh;
  overflow-x: auto;
  background-color: #1e1e1e;
}
